<!-- <div>Hiiiiii</div>
<div>{{title}}</div>
<div>

  @if (a==10){
    <div>a is 10</div>
  }
  @else {
    <div>a is not fit for that</div>
  }
</div>
<div>{{constant.name}}</div>



@defer (on viewport) {
  <app-home />
} @placeholder {
  
  <div>This will be printed until the home component gets loaded.</div>
}
<br><br> -->

<button class="btn btn-primary" [routerLink]="['index']" routerLinkActive="router-link-active" >
  sumbit
</button>
<a [routerLink]="['/index']" routerLinkActive="router-link-active" >click me</a>

<i class="fa-solid fa-house"></i>
<router-outlet></router-outlet>